Django
asgiref
certifi
cffi
charset-normalizer
cryptography
django-cors-headers
djangorestframework
djangorestframework_simplejwt
gunicorn
idna
packaging
pillow
pycparser
PyJWT
python-decouple
python-dotenv
pytz
requests
sqlparse
tzdata
urllib3
